{% extends "base.html" %}

{% load static i18n %}

{% block title %}구인{% endblock %}

{% block content %}
    <h1 class="text-center">
        비범한 사람들과 함께
        <small class="clearfix">
            IT 생태계를 더 나은 곳으로 만들고 싶습니다.
        </small>
    </h1>
    <p class="text-center">
        <img style="width: 300px;" src="{% static 'img/logo.png' %}"/>
    </p>
    <h2 class="text-center">
        저희가 추구하는 건
    </h2>
    <p class="text-center">
        최고의 환경에서, 가장 똑똑한 사람들과, 항상 도전적인 일을 하는 것입니다.
    </p>
    <div class="col-md-6">
        <h4>
            우리는
        </h4>
        <p>
            대한민국 서울에 위치한 창의적인 기술 회사입니다. 2012년에 설립 된 후,

            다양한 창의적이고 기술적인 배경을 가진 회사의 구성원들은 협력을 통해

            아름다운 기술과 기능적인 디자인을 가진 독특한 제품들을 만들고 있습니다.
        </p>
    </div>
    <div class="col-md-6">
        <h4>
            미션
        </h4>
        <p>
            저희의 미션은 간단합니다:
            "전문가들이 자신의 능력을 온전히 프로젝트에 쏟을 수 있도록 해서 IT 프로젝트의 성공률을 높이자."
            IT 프로젝트의 성공률은 IT 종사자들의 삶의 질과 직결될 뿐만 아니라
            세상의 발전에 직결되어 있다고 저희는 믿고 있습니다.
        </p>
    </div>
    <h2 class="text-center">
        많은 것들을 만들어야 합니다.
    </h2>
    <p class="text-center">
        도드미의 비전은 단순히 SI 프로젝트를 중개하는 것에서 끝나지 않습니다.
        <br />
        계약 체결 후 프로젝트를 진행하며 협력해야 하는 발주자, PM, 기획자, 개발자, 디자이너, 퍼블리셔들은 지금
        <br />
        모두 20년 전에 개발 된 툴에 의존해 일하고 있습니다.
        <br />
        <strong>
            저희에게는 더 나은 방법이 있습니다.
        </strong>
    </p>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-center">
            개발자 & 퍼블리셔
            <small class="clearfix">
                아름다운 기술을 보여주시겠습니까?
            </small>
        </h3>
        <ul>
            <li>대상: Django/iOS/Android 중 한 가지 이상을 능숙히 다루는 개발자 혹은 퍼블리셔</li>
            <li>채용 기간: 상시채용</li>
            <li>근무지: 강남역</li>
            <li>연봉: 3000+ (인센티브 별도)</li>
            <li>복지: 4대 보험 및 중식/석식 제공</li>
            <li>지원 방법: dodme@gluwa.com 으로 다음 제출
                <ul>
                    <li>포트폴리오: 본인이 개발한 공개 가능한 프로젝트의 코드.
                        코딩 능력을 보기 위한 것으로, 간단한 것도 상관 없습니다. (선택)</li>
                    <li>이력서 (필수)</li>
                </ul>
            </li>
        </ul>
        <h3 class="text-center">
            디자이너
            <small class="clearfix">
                기능적인 디자인을 해주시겠습니까?
            </small>
        </h3>
        <ul>
            <li>대상: Web/iOS/Android 디자이너</li>
            <li>채용 기간: 상시채용</li>
            <li>근무지: 강남역</li>
            <li>연봉: 3000+ (인센티브 별도)</li>
            <li>복지: 4대 보험 및 중식/석식 제공</li>
            <li>지원 방법: dodme@gluwa.com 으로 다음 제출
                <ul>
                    <li>포트폴리오 (필수)</li>
                    <li>이력서 (필수)</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-3"></div>
{% endblock content %}