nav.navbar {
  display: none; }

#bg {
  -webkit-filter: blur(7px); }

h1 {
  margin-top: -20px;
  text-align: center;
  font-size: 72px;
  color: white;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: bold; }

.btn-sns {
  height: 45px;
  font-size: 22px; }

.container {
  padding: 0; }

#container-wrapper {
  background: none;
  color: white;
  box-shadow: none; }
  #container-wrapper h3.stit {
    padding-bottom: 11px; }
  #container-wrapper h5#find_password {
    text-align: center; }
    #container-wrapper h5#find_password a {
      color: white; }
  #container-wrapper .list-inline {
    margin-bottom: 20px; }
  #container-wrapper button[type=submit] {
    margin-bottom: 25px; }

.form-signin .form-signin-heading {
  margin-top: 20px; }
