{% extends "base.html" %}

{% load staticfiles i18n compressed socialaccount %}

{% block title %}
	{% trans "Login" %}
{% endblock title %}

{% block stylesheets %}
	{{ block.super }}

    <link rel='stylesheet' href='{% static 'registration/css/registration.css' %}' />
    <link rel='stylesheet' href='{% static 'registration/css/social-buttons.css' %}' />
{% endblock stylesheets %}

{% block content %}
    <div id="bg">
        <img src="{% static 'registration/img/login/background.jpg' %}" alt="">
    </div>
    <div class="wrapper-content" id="container-wrapper">
        <div class="form-signin">
            <h1 class="stit">{% trans "Login" %}</h1>
            <p class="hidden-xs hidden-sm">
                <div class="fb-like" data-href="https://www.facebook.com/gluwa" data-width="360" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>
            <div class="sns-login">
                <h5 class="stit hidden-xs hidden-sm">{% trans "Connect with social network" %}</h5>
                <ul class="list-inline row">
                    <li class="col-md-4 col-xs-4">
                        <a href="{% provider_login_url 'facebook' method='oauth2' %}">
                            <button class="btn btn-sns btn-facebook" id="btn_facebook">
                                <i class="fa fa-facebook"></i>
                                <span class="hidden-xs hidden-sm">
                                    | {% trans "Facebook" %}
                                </span>
                            </button>
                        </a>
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <a href="{% provider_login_url 'google' %}">
                            <button class="btn btn-sns btn-google-plus" id="btn_google">
                                <i class="fa fa-google-plus"></i>
                                <span class="hidden-xs hidden-sm">
                                    | {% trans "Google+" %}
                                </span>
                            </button>
                        </a>
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <a href="{% provider_login_url 'twitter' %}">
                            <button class="btn btn-sns btn-twitter" id="btn_twitter">
                                <i class="fa fa-twitter"></i>
                                <span class="hidden-xs hidden-sm">
                                    | {% trans "Twitter" %}
                                </span>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="form-signin-heading stit">
                {% trans "Register with E-mail address" %}
            </p>
            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary btn-block">
                {% trans "Register" %}
            </a>
            <p class="form-signin-heading stit clearfix">
                {% trans "Login with username" %}
                <span class="pull-right"> <a href="{% url 'account_reset_password' %}">{% trans "Find password" %}</a></span>
            </p>
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {# Include the hidden fields #}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {# Include the visible fields #}
                {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Login" %}</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock content %}






{% comment %}
{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
{% endcomment %}